<% if notice %>
<aside id="notice"><%= notice %></aside>
<% end %>
<h1>Catalog Ajah</h1>
<ul class="catalog">
    <% @products.each do |product| %>
    <li>
        <%= image_tag(product.gambar) %>
        <h2><%= product.nama %></h2>
        <p>
            <%= sanitize(product.deskripsi) %>
        </p>
        <div class="price">
            <%= product.harga %>
            <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
        </div>
    </li>
    <% end %>
</ul>
<%= button_to 'Empty cart', @cart, method: :delete,
    data: {confirm: 'are you sure?'} %>