<!DOCTYPE html>
<html>

<head>
    <title>NewApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <header class="main">
        <%= image_tag 'logo.svg', alt: 'Just Random Things' %>
        <h1><%= 'Just Random Things Store' %></h1>
        <p class="navbar-text float-right">
            <% if user_signed_in? %>
            Logged in as <strong><%= current_user.nama %></strong>.
            <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
            <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
            <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
            <% end %>
        </p>
    </header>
    <section class="content">
        <nav class="side_nav">
            <% if @cart %>
            <div id="cart" class="carts">
                <%= render_if @cart && @cart.line_items.any?, @cart %>
            </div>
            <% end %>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/questions">Questions</a></li>
                <li><a href="/news">News</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><%= Time.now.strftime("%d/%m/%Y %H:%M") %></li>
            </ul>
        </nav>
        <main class='<%= controller.controller_name %>'>
            <%= yield %>
        </main>
</body>

</html>